@import url("https://consultora-best-data-limitada.github.io/iconos-reutility/style.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --acento-principal: 36, 183, 112;
  --acento-principal-hover: 99, 227, 176;
  --acento-principal-pressed: 14, 129, 83;
  --acento-secundario: 8, 127, 140;
  --acento-secundario-hover: 100, 205, 217;
  --acento-secundario-pressed: 28, 99, 106;
  --secundario: 58, 90, 117;
  --neutro-1: 255, 255, 255;
  --neutro-2: 225, 228, 239;
  --neutro-3: 196, 211, 229;
  --neutro-4: 151, 168, 194;
  --background: 240, 243, 248;
  --complementario-1: 228, 191, 49;
  --complementario-2: 110, 107, 209;
  --complementario-3: 125, 209, 129;
  --error: 235, 81, 96;
  --error-hover: 250, 147, 157;
  --error-pressed: 186, 47, 61;
}

html,
body,
#app {
  height: 100%;
}

input,
button {
  border: none;
  background: transparent;
}

button {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-tooltip--overlay {
  opacity: 0;
  z-index: 2000;
  display: none;
  position: fixed;
  padding: 0.5rem;
  border-radius: 1rem;
  color: rgb(var(--neutro-1));
  background-color: rgba(var(--neutro-4), 0.7);
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25rem;
  font-family: "Metropolis", sans-serif !important;
}

.custom-tooltip--overlay--opened {
  opacity: 1;
  display: block;
}

@layer components {
  .text-h1 {
    font-weight: 800;
    font-style: normal;
    font-size: 2.375rem;
    line-height: 2.75rem;
    font-family: "Metropolis", sans-serif;
  }

  .text-h2 {
    font-weight: 800;
    line-height: 2rem;
    font-style: normal;
    font-size: 1.5625rem;
    font-family: "Metropolis", sans-serif;
  }

  .text-subtitle-1 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-family: "Metropolis", sans-serif;
  }

  .text-subtitle-2 {
    font-weight: 700;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0.01125rem;
    font-family: "Metropolis", sans-serif;
  }

  .text-body-1 {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25rem;
    font-family: "Metropolis", sans-serif;
  }

  .text-body-2 {
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.25rem;
    font-family: "Metropolis", sans-serif;
  }

  .text-caption {
    font-weight: 500;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Metropolis", sans-serif;
  }
}
