@font-face {
  font-family: Metropolis;
  font-weight: 300;
  src: url("./Metropolis-Light.ttf") format("truetype"),
    url("./Metropolis-Light.woff") format("woff");
}

@font-face {
  font-family: Metropolis;
  font-weight: 400;
  src: url("./Metropolis-Regular.ttf") format("truetype"),
    url("./Metropolis-Regular.woff") format("woff");
}

@font-face {
  font-family: Metropolis;
  font-weight: 500;
  src: url("./Metropolis-Medium.ttf") format("truetype"),
    url("./Metropolis-Medium.woff") format("woff");
}

@font-face {
  font-family: Metropolis;
  font-weight: 700;
  src: url("./Metropolis-Bold.ttf") format("truetype"), url("./Metropolis-Bold.woff") format("woff");
}

@font-face {
  font-family: Metropolis;
  font-weight: 800;
  src: url("./Metropolis-ExtraBold.ttf") format("truetype"),
    url("./Metropolis-ExtraBold.woff") format("woff");
}
